@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sora:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Sora", sans-serif;
}

.header_msg {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(27, 27, 165);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

table thead {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead th {
  cursor: pointer;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 16px;
}
